* {
    margin: 0px 0px;
    font-family: Roboto, Arial;
    min-width: 0;
}

body {
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 1fr;
    padding: 0px 22px;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-image: url(Images/navigation-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navigation button {
    padding: 6px 10px;
    border: 1.5px solid #606060;
    border-radius: 4px;
    background: transparent;
    box-shadow: 0 0 50px black;
}

.navigation button a {
    color: #3f3f3f;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.container {
    margin-top: 100px;
}

.head {
    margin: 50px 20px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 15px black;
}

.head span {
    font-size: 25px;
}

.about {
    margin: 10px 30px;
    text-align: center;
    line-height: 28px;
}

.thanks-lord {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    text-shadow: 0px 0px 20px rgb(0, 0, 0);
}


.autosuggestion {
    text-align: center;
    margin: 20px 20px;
    font-size: 33px;
    color: #60606085;
    line-height: 35px;
    text-shadow: 0px 0px 20px black;
  }
  
  .long {
    font-size: 25px;
    color: #4885ed;
    font-weight: bold;
  }
  
  .happy {  
    font-size: 25px;
    color: #3cba54; 
    font-weight: bold;
  }
  
  .strong {
    font-size: 25px;
    color: #4885ed;
    font-weight: bold;
  }
  
  .young {
    font-size: 25px;
    color: #db3236;
    font-weight: bold;
  }

.conclusion {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #606060;
}

.partition {
    background-color: gray;
    border: none;
    height: 2px;
    width: 85%;
    margin-bottom: 20px;
    border-radius: 1000px;
}

.mail {
    text-decoration: none;
    color: #606060;
}